@tailwind base;
@tailwind components;
@tailwind utilities;



body {
 overflow-x: hidden;
 width: 100vw;
 height: 100vh;
 /* min-height: 100%; */
 /* border: 2px yellow solid; */
 /* background-color: #171101; */
 /* background-color: #332605; */
 /* color: #fff; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
